<!DOCTYPE html>
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <title>MeetMe - Resume Website Template</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/bootstrap.min.css">
    <!-- Fonts -->
    <link rel="stylesheet" type="text/css" href="~/fonts/font-awesome.min.css">
    <!-- Icon -->
    <link rel="stylesheet" type="text/css" href="~/fonts/simple-line-icons.css">
    <!-- Slicknav -->
    <link rel="stylesheet" type="text/css" href="~/css/slicknav.css">
    <!-- Menu CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/menu_sideslide.css">
    <!-- Slider CSS -->
    <link rel="stylesheet" type="text/css" href="~/css/slide-style.css">
    <!-- Nivo Lightbox -->
    <link rel="stylesheet" type="text/css" href="~/css/nivo-lightbox.css">
    <!-- Animate -->
    <link rel="stylesheet" type="text/css" href="~/css/animate.css">
    <!-- Main Style -->
    <link rel="stylesheet" type="text/css" href="~/css/main.css">
    <!-- Responsive Style -->
    <link rel="stylesheet" type="text/css" href="~/css/responsive.css">

</head>
<body>

    <div class="">        
            @RenderBody()        
    </div>


    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="~/js/jquery-min.js"></script>
    <script src="~/js/popper.min.js"></script>
    <script src="~/js/bootstrap.min.js"></script>
    <script src="~/js/jquery.mixitup.js"></script>
    <script src="~/js/jquery.counterup.min.js"></script>
    <script src="~/js/waypoints.min.js"></script>
    <script src="~/js/wow.js"></script>
    <script src="~/js/jquery.nav.js"></script>
    <script src="~/js/jquery.easing.min.js"></script>
    <script src="~/js/nivo-lightbox.js"></script>
    <script src="~/js/jquery.slicknav.js"></script>
    <script src="~/js/main.js"></script>
    <script src="~/js/form-validator.min.js"></script>
    <script src="~/js/contact-form-script.min.js"></script>
    <script src="~/js/map.js"></script>

    @RenderSection("Scripts", required: false)
</body>
</html>
